:root {
    font-size: 24px;
}
* {
    color: white;
    font-family: impact;
}
html {
    font-size: 24px;
}
body {
    background: darkslategray;
    font-size: 1rem;
}
#heading {
    font-family: impact;
    text-align: center;
    font-size: 2rem;
}
#puzzle {
    font-family: impact;
    font-size: 1rem;
}
.button {
    margin: auto;
    width: 40vw;
    height: 80px;
    font-family: impact;
    background: #4e6db1;
    border-radius: 10px;
    display: block;
    font-size: 1rem;
}
.button:hover {
    background: #6f85cc
}
@media (max-width: 600px) {
    .button {
        width: 90vw;
    }
}
#setup {
    font-size: 1rem;
    text-align: center;
}
#DaJaMeanings {
    font-size: 1rem;
    text-align: center;
}
#randomAnswer {
    font-size: 1rem;
    text-align: center;
}

#alfonsoce11 {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 70px;
    width: 70px;
}
